@font-face {
  font-family: creepster;
  src: url(Fonts/Creepster-Regular.ttf);
}

html {
  font: 62.5%;
}

body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.7rem;
  transition: 0.5;
}

button:hover {
  color: #292524;
  transition: 0.5;
}

#content {
  display: grid;
  grid-template-rows: 1fr 10fr 5fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-row: 1/2;
  grid-column: 1/2;
}

.header-image {
  width: 100vw;
  height: 420px;
  object-fit: cover;

  object-position: center;
}

.background-image {
  width: 100vw;
  height: 1000px;
  object-fit: cover;
  object-position: top;
  display: block;
}

.tab-group {
  display: flex;
  flex-direction: row;

  grid-row: 1/2;
  grid-column: 1/2;

  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  z-index: 7;

  height: min-content;
  width: 100vw;

  background-color: #ef4444;

  /*   height: clamp(25px, 50%, 30px); */
}

.home-button,
.menu-button,
.contact-button {
  z-index: 10;

  font-weight: 800;

  font-family: cursive;
  font-size: min(2.5vw, 40px);

  background-color: rgba(240, 248, 255, 0);
  color: #1c1917;
}
.home-button:active,
.menu-button:active,
.contact-button:active {
  color: #78716c;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-row: 2/3;
  grid-column: 1/2;
}

.home-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-contents-text-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #40373752;
}

.home-page-contents {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-page-text-1 {
  font-size: 5.2rem;
  margin: 0px;
  color: white;
  font-family: creepster;
  text-align: center;
}

.home-page-text-2 {
  font-size: 2.2rem;
  margin: 0px;
  color: white;
}

.home-page-text-3 {
  font-size: 4.2rem;
  margin: 0px;
  color: white;
}

.order-button {
  width: 250px;
}

.reviews {
  display: flex;
  background-color: #ff5959;
  flex: 2;
  flex-basis: 300px;
  width: 100vw;
  gap: 15px;
  padding: 20px 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.review-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.review-profile-picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.rating-container {
  display: flex;
}

svg.golden-star,
svg.grey-star {
  display: flex;
  height: 40px;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.review-comment,
.reviewer-name {
  font-family: "creepster";
  word-break: break-word;
  overflow-wrap: anywhere;
  max-width: 200px;
  margin: 0px;
  text-align: center;
}

.reviewer-name::before {
  content: " - ";
}

.review-profile-holder {
}

footer {
  display: flex;

  width: 100vw;

  justify-self: center;
  justify-content: center;
  align-items: flex-end;

  grid-row: 3/4;
  grid-column: 1/2;

  background-color: lightblue;
}
