@font-face {
  font-family: creepster;
  src: url(Fonts/Creepster-Regular.ttf);
}

html {
  font: 62.5%;
}

body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.7rem;
  transition: 0.5;
}

button:hover {
  color: #292524;
  transition: 0.5;
}

#content {
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: clamp(50px, 5vw, 69px);
  padding: 6px 0px;
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: #ef4444;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 100%;
  height: 420px;
  object-fit: cover;

  object-position: center;
}

.background-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  display: block;
}

.restaurant-logo {
  height: 100%;
  margin-left: 5px;
}

.nav-bar-container {
  display: grid;
  grid-template-columns: 1fr 15fr;
  grid-template-rows: clamp(50px, 5vw, 69px);
  position: fixed;
  flex-direction: row;
  background-color: #cca363;
  width: 100%;
  padding: 6px;
  gap: 10px;
  z-index: 7;
  justify-items: center;
  align-items: center;
}

.tab-group {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.nav-vertical-line {
  height: clamp(20px, 2.5vw, 30px);
  width: 3px;
  background: #772327;
}

.home-button,
.menu-button,
.contact-button {
  z-index: 10;
  font-weight: 800;
  font-family: cursive;
  font-size: clamp(20px, 3.5vw, 40px);
  background-color: rgba(240, 248, 255, 0);
  color: #43151b;
}

.home-button:hover,
.menu-button:hover,
.contact-button:hover {
  color: #4e2026;
}

.home-button:active,
.menu-button:active,
.contact-button:active {
  color: #400e14;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-row: 2/3;
  grid-column: 1/2;
}

/* HOME-PAGE STYLE SECTION */

.home-page-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-contents-text-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00000012;
}

.home-page-contents {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home-page-text-1 {
  font-size: clamp(30.75px, 8.2vw, 120px);
  margin: 0px;
  color: #43151b;
  font-family: creepster;
  text-align: center;
  -webkit-text-stroke: 2px #2a0e10;
  text-shadow: 3px 3px 2px black;
}

.home-page-text-2 {
  font-size: clamp(16px, 2.2vw, 10rem);
  margin: 0px;
  color: #3e2723;
  text-shadow: 1px 1px 1px #000000;
  font-family: "creepster";
}

.order-button {
  width: clamp(145px, 25vw, 290px);
  height: clamp(42px, 3.2vw, 69px);
  font-size: clamp(16px, 2.2vw, 2.1rem);
  color: #616161;
  -webkit-text-stroke: 1px #616161;
  background-color: #eceff1;
  transition: 150ms;
}

.order-button:hover {
  transition: 150ms;
  background-color: #fafafa;
  color: #757575;
  -webkit-text-stroke: 1px #757575;
}

.order-button:active {
  transition: 150ms;
  color: #424242;
  -webkit-text-stroke: 1px #424242;
  background-color: #eeeeee;
}

.reviews {
  display: flex;
  background-color: #3e2723;
  flex: 2;
  flex-basis: 300px;
  width: 100%;
  gap: 15px;
  padding: 20px 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  outline: 2px solid #404b4f;
}

.review-card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.review-profile-picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  outline: 2px solid #8d6e63;
}

.rating-container {
  display: flex;
}

svg.golden-star,
svg.grey-star {
  display: flex;
  height: 40px;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.review-comment {
  font-size: clamp(19px, 1.5vw, 50px);
  width: clamp(190px, 14vw, 269px);
}

.review-comment,
.reviewer-name {
  font-family: "creepster";
  word-break: break-word;
  overflow-wrap: anywhere;
  margin: 0px;
  color: #bcaaa4;
  text-align: center;
}

.reviewer-name {
  color: #a1887f;
}

.reviewer-name::before {
  content: " - ";
}

.review-profile-holder {
}

/* CONTACT-TAB STYLE SECTION */
.phone-support-container,
.email-container,
.chat-support-container {
}

.phone-support-icon,
.email-support-icon,
.chatting-gif {
  width: 75px;
}

footer {
  display: flex;
  width: 100%;
  justify-self: center;
  justify-content: center;
  align-items: flex-end;
  grid-row: 3/4;
  grid-column: 1/2;
  color: #6d4c41;
  background-color: #d7ccc8;
}
